.form__title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  margin-left: 0;
}
@media screen and (max-width: 1279px) {
  .form__title {
    width: 238px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 22px;
    padding-bottom: 76px;
    padding-top: 25px;
  }
}