*{
    margin: 0 auto;
    padding: 0;
}

body{
   background-color: black;
   font-family: 'Inter';
   color: #FFFFFF
   ;
}

.page{
    width: 1280px;
}
.header{
    width: 68.75%;
    padding-top: 45px;
    padding-bottom: 41px;
}

.header__logo{
    width: 173px;
    height: 33px;  
}

.header__line{
    width: 68.75%;
    border-bottom: 1px solid rgba(84, 84, 84, 0.7);

}

.profile{
    width: 68.75%;
     display: flex;
    padding-bottom: 50px;
    padding-top: 40px;
    align-items: center;
    justify-content: space-between;

}

.profile__picture{
    max-width: 168.75px;
    height: 120px;
    border-radius: 50%;
    margin-left: 0;
    margin-right: 0;
 
   
  
}

.profile__text-container{
    width: 320px;
height: 50px;
margin-left: 0;
display: flex;
flex-direction: column;
justify-content: center;
margin-right: 0;
margin-left: 20px;
}

.profile__title{
    font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 42px;
line-height: 48px;
margin-left: 0;
margin-right: 0;




}

.profile__subtitle{
    font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 22px;
margin-left: 0;


}

.profile__button-container{
 display: flex;
 margin-left: 0;
}

.profile__edit-button{
    background-image: url(./images/EditButton.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 100%;
    background-color: black;
    width: 24px;
    height: 24px;
    margin-top: 7px;
    border: none;
   
}

.profile__plus-button{
    background-image: url(./images/Add-Button1280px.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: black;
    width: 150px;
    height: 50px;
    margin-left: 250px;
    border: none;
}

.sites{
    width: 68.75%; 
    display: flex;
flex-wrap: wrap;

    gap: 17px;
   
}

.sites__picture-container{
    width: 282px;
height: 361px;

}
.sites__picture{
width: 282px;
height: 282px;
border-radius: 10px 10px 0 0;

}


.description__container{
    background-color: white;
    color: black;
    height: 79px;
    border-radius: 0 0 10px 10px;
    display: flex;
align-items: center;
}
.sites__text{
   font-family: 'Inter';
font-style: normal;
font-weight: 900;
font-size: 24px;
line-height: 29px;
}

.like__icon{
    width: 21px;
    height: 19px;
}

.footer{
    width: 68.75%;
  
}

.copyright{
    width: 318px;
height: 18px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 22px;
color: #545454;
padding-bottom: 60px;
padding-top: 68px;
margin-left: 0;
}

.popup{
    padding-top: 195px;
    width: 100%;
    height: 100%;
    position: fixed;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  color: black;
    display: none;
}

.popup::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #000;
    opacity: 0.5;
    top: 0;
    left: 0;
    z-index: -1;
  }

  .popup_opened {
    display: flex;
  }

.popup__container{
    background-color: #fff;
    width: 430px;
    height: 330px;
    border-radius: 10px;
    position: relative;
    padding: 34px 36px;
 
}
.popup__close-icon {
    width: 40px;
    position: absolute;
    top: -40px;
    right: -40px;
    transform: rotate(45deg);
    cursor: pointer;
    transition: all 0.3s ease;
  }
  .popup__close-icon:hover {
    opacity: 0.6;
  }
.popup__form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 430px;
height: 330px;
    
}
 .form__title{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    margin-left: 0;
    padding-left: 16px;
 }

 .form__input {
    width: 358px;
    border: none;
    border-bottom: 1px solid #cccccc;
    padding-bottom: 13px;
    outline: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.21;
  }

  .form__button {
    background-color: #000000;
    width: 358px;
    height: 50px;
    color: #fff;
    cursor: pointer;
    transition: opacity 0.3s ease;
    font-size: 18px;
    line-height: 1.21;
 
  }
  
  .form__button:hover {
    opacity: 0.8;
  }

  @media screen and (max-width: 1279px) {
    .page {
        width: 320px;   
    }
}

@media screen and (max-width: 1279px) {
    .header {
        width: 100%;
        padding-top: 28px;
        padding-bottom: 32px;
    }
}

@media screen and (max-width: 1279px) {
    .header__logo{
        width: 126px;
height: 24px;
padding-left: 27px;
    }
}

@media screen and (max-width: 1279px) {
    .profile{
        width: 100%;
        flex-direction: column;
      
    
      
    }
}

@media screen and (max-width: 1279px) {
    .profile__button-container{
        width: 100%;
        margin: 0 auto;
   
      
    }
}
@media screen and (max-width: 1279px) {
    .profile__button-container{
        width: 100%;
        margin: 0 auto;
       flex-direction: column;
   
      
    }
}

@media screen and (max-width: 1279px) {
    .profile__plus-button{
       
     background-repeat: no-repeat;
        background-size: 100%;
        max-width: 282px;
        height: 50px;
     border: none;
        padding-top: 0;
        margin-left: 0;
        margin: auto;
     
      
    }
}

@media screen and (max-width: 1279px) {
    .profile__edit-button{
        margin:auto;
        margin-left: 254    px;
        margin-right: 0;
      
    
        
      
   
      
    }
}


@media screen and (max-width: 1279px) {
    .profile__subtitle{
        margin: 0  auto;
        margin-top: 14px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        
        
      
   
      
    }
}
@media screen and (max-width: 1279px) {
    .profile__text-container{
        margin: 0  auto;
       

    
        
      
   
      
    }
}
@media screen and (max-width: 1279px) {
    .profile__title{
        margin: 0  auto;
        margin-top: 26.5px;
        font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 22px;
line-height: 27px;
text-align: center;

    
        
      
   
      
    }
}

@media screen and (max-width: 1279px) {
    .sites{
width: 100%;
    
        
      
   
      
    }
}