@import url(./fonts/fonts.css);
@import url(./blocks/page/page.css);
@import url(./blocks/header/header.css);
@import url(./blocks/header/__logo/header__logo.css);
@import url(./blocks/separator/separator.css);
@import url(./blocks/profile/profile.css);
@import url(./blocks/profile/__picture-container/__picture/profile__picture.css);
@import url(./blocks/profile/__edit-container/__edit-container.css);
@import url(./blocks/profile/__edit-container/__title/profile__title.css);
@import url(./blocks/profile/__job-container/profile__job-container.css);
@import url(./blocks/profile/__job-container/__subtitle/profile__subtitle.css);
@import url(./blocks/profile/__edit-container/__edit-button/profile__edit-button.css);
@import url(./blocks/profile/__plus-container/profile__plus-container.css);
@import url(./blocks/profile/__plus-container/__plus-button/profile__plus-button.css);
@import url(./blocks/sites/sites.css);
@import url(./blocks/sites/__picture-container/__description-container/sites__description-container.css);
@import url(./blocks/sites/__picture-container/sites__picture-container.css);
@import url(./blocks/sites/__picture-container/__picture/sites__picture.css);
@import url(./blocks/sites/__picture-container/__description-container/__description-text/sites__description-text.css);
@import url(./blocks/sites/__picture-container/__description-container/__description-icon/sites__description-icon.css);
@import url(./blocks/footer/footer.css);
@import url(./blocks/footer/__copyright/footer__copyright.css);
@import url(./blocks/popup/popup.css);
@import url(./blocks/overlay/overlay.css);
@import url(./blocks/popup/__opened/popup__opened.css);
@import url(./blocks/popup/__container/popup__container.css);
@import url(./blocks/popup/__close-icon/popup__close-icon.css);
@import url(./blocks/popup/form/form.css);
@import url(./blocks/popup/form/__title/form__title.css);
@import url(./blocks/popup/form/__input/form__input.css);
@import url(./blocks/popup/form/__button/form__button.css);





* {
  margin: 0 auto;
  padding: 0;
}

body {
  background-color: black;
  font-family: "Inter";
  color: #ffffff;
  margin: 0 ;
}


