.sites__description-icon {
  width: 21px;
  height: 19px;
}

.sites__description-icon:active {
  background-image: url(../../../../../images/Heart-active.svg);
}
.sites__description-icon:hover {
  opacity: 0.4;
}