.popup__container {
  background-color: #fff;
  width: 358px;
  height: 330px;
  border-radius: 10px;
  position: relative;
  padding: 34px 36px;
}
@media screen and (max-width: 1279px) {
  .popup__container {
    width: 238px;
    height: 322px;
    padding: 0px 22px 0px 22px;
  }
}