.profile__subtitle {
  height: 22px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  padding-top: 50px;
}

@media screen and (max-width: 1279px) {
  .profile__subtitle {
    margin: 0;
    padding: 0;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
  }
}