.confirmation__form{
    background-color: white;
    width: 430px;
    height: 181px;
    border-radius: 10px 10px 10px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }