.profile__plus-button {
  background-image: url(../../../../images/Add-Button1280px.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-color: black;
  width: 150px;
  height: 50px;
  border: none;
  cursor: pointer;
}
@media screen and (max-width: 1279px) {
  .profile__plus-button {
    background-image: url(../../../../images/Add-Button-320px.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: black;
    border: none;
    width: 100%;
  }
}
.profile__plus-button:hover {
  opacity: 0.4;
}