@import url(../vendor/normalize.css);
@import url(../fonts/fonts.css);
@import url(../blocks/page/page.css);
@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);
@import url(../blocks/separator/separator.css);
@import url(../blocks/profile/profile.css);
@import url(../blocks/profile/__picture-container/__picture/profile__picture.css);
@import url(../blocks/profile/__picture-container/profile__picture-container.css);
@import url(../blocks/profile/__edit-container/__edit-container.css);
@import url(../blocks/profile/__edit-container/__title/profile__title.css);
@import url(../blocks/profile/__job-container/profile__job-container.css);
@import url(../blocks/profile/__job-container/__subtitle/profile__subtitle.css);
@import url(../blocks/profile/__edit-container/__edit-button/profile__edit-button.css);
@import url(../blocks/profile/__plus-container/profile__plus-container.css);
@import url(../blocks/profile/__plus-container/__plus-button/profile__plus-button.css);
@import url(../blocks/sites/sites.css);
@import url(../blocks/sites/__container/cards__container.css);
@import url(../blocks/sites/__description-container/sites__description-container.css);
@import url(../blocks/sites/__picture-container/sites__picture-container.css);
@import url(../blocks/sites/__trash-icon/sites__trash-icon.css);
@import url(../blocks/sites/__picture-container/__picture/sites__picture.css);
@import url(../blocks/sites/__description-container/__description-text/sites__description-text.css);
@import url(../blocks/sites/__description-container/__description-icon/sites__description-icon.css);
@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__copyright/footer__copyright.css);
@import url(../blocks/confirmation-form/confirmation-form.css);
@import url(../blocks/confirmation-form/__form-container/confirmation__form-container.css);
@import url(../blocks/confirmation-form/__form-body/confirmation__form-body.css);
@import url(../blocks/confirmation-form/__form-text/confirmation__form-text.css);
@import url(../blocks/confirmation-form/__form-button/confirmation__form-button.css);
@import url(../blocks/confirmation-form/__form-close/confirmation__form-close.css);
@import url(../blocks/popup/popup.css);
@import url(../blocks/overlay/overlay.css);
@import url(../blocks/popup/__container/popup__container.css);
@import url(../blocks/popup/__close-icon/popup__close-icon.css);
@import url(../blocks/popup/form/form.css);
@import url(../blocks/popup/form/__title/form__title.css);
@import url(../blocks/popup/form/__input/form__input.css);
@import url(../blocks/popup/form/__button/form__button.css);
@import url(../blocks/modal/modal.css);
@import url(../blocks/modal/__container/modal__container.css);
@import url(../blocks/modal/__picture/modal__picture.css);
@import url(../blocks/modal/__text-subtitle/modal__text-subtitle.css);
@import url(../blocks/modal/__close-button/modal__close-button.css);
@import url(../blocks/modal/__appear/appear.css);
@import url(../blocks/adder/adder.css);
@import url(../blocks/adder/__opened/adder__opened.css);
@import url(../blocks/adder/__container/adder__container.css);
@import url(../blocks/adder/__close-icon/adder__close-icon.css);
@import url(../blocks/popup/form/__error-message/form__error-message.css);
@import url(../blocks/popup/form/__input/__input_type_error/form__input_type_error.css);
@import url(../blocks/popup/form/__submit-inactive/form__submit-inactive.css);
@import url(../blocks/popup/form/__error-message_active/form__error-message_active.css);
@import url(../blocks/overlay/__visible/overlay__visible.css);
@import url(../blocks/popup/__opened/popup__opened.css);
@import url(../blocks/sites/__description-container/__description-counter/sites__description-counter.css);


* {
  margin: 0 auto;
  padding: 0;
}

body {
  background-color: black;
  font-family: "Inter";
  color: #ffffff;
  margin: 0;
}

.profile__picture-edit {
  background-image: url(../images/Lapiz.png);
  background-size: 100%;
  Width:26px;
Height:26px;
  background-color: black;
  background-repeat: no-repeat;
}



.profile-form{
  background-color: #fff;
  width: 358px;
  height: 330px;
  border-radius: 10px;
  position: relative;
  padding: 34px 36px;
}

.profile__form_form{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 358px;
  height: 330px;
}



