.modal__close-button{
  position: absolute;
  top: 50px;
  right: 190px;
 cursor: pointer;
}
.modal__close-button:hover{
  opacity: 0.4;
  transition: opacity 0.5s linear;
  cursor: pointer;
}

@media screen and (max-width: 1279px) {
  .modal__close-button {
    position: absolute;
    top: 279px;
    right: 30px;
    cursor: pointer;
  }
}