.footer__copyright {
  width: 318px;
  height: 18px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #545454;
  padding-bottom: 60px;
  padding-top: 68px;
  margin-left: 0;
}
@media screen and (max-width: 1279px) {
  .footer__copyright {
    width: 88.12%;
  }
}