.profile__form-main{
    background-color: white;
    width: 430px;
    height: 272px;
    border-radius: 10px 10px 10px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;}