.profile__picture-container{
  position: relative;
  max-width: 168.75px;
  height: 120px;
 

}

.profile__picture-overlay {
  position: absolute;
  
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-image: url(../../../images/Lapiz.png);
  background-size: 26px;
  background-repeat: no-repeat;
  background-color: black;
  background-position: center;
  z-index: 98;
  border: none;
  cursor: pointer;
}

.profile__picture-container:hover .profile__picture-overlay {
  opacity: 0.7;
}