.popup__close-icon {
  width: 40px;
  position: absolute;
  top: -40px;
  right: -40px;
  transform: rotate(45deg);
  cursor: pointer;
  transition: all 0.3s ease;
}
@media screen and (max-width: 1279px) {
  .popup__close-icon {
    width: 26px;
    top: -50px;
    right: -40px;
    left: 255px;
    margin: 0;
  }
}
.popup__close-icon:hover {
  opacity: 0.6;
}