.modal{
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  z-index: 1;
  opacity: 0;
  pointer-events: none ;
  transition: visibility 1s, opacity 1s linear;
}