.sites__picture-container {
  width: 282px;
  display: flex;
  flex-direction: column;
  background-image: url(../../../images/yosemite.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  height: 282px;
  border-radius: 10px 10px 0 0;
}