.form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 358px;
  height: 330px;
}
@media screen and (max-width: 1279px) {
  .form {
    width: 238px;
    height: 322px;
    margin: 0;
    display: flex;
    justify-content: space-evenly;
  }
}